{{--  @layout('layouts.app')

@section('title')
Profile
@endsection

@section('content')  --}}

{{--  <div class="container my-5">
    <h1 class="text-center">This represents the profile page</h1>
    <p>{{name}}</p>
</div>  --}}


{{--  @endsection  --}}

<h1>THE HOME PAGE : {{ name }}</h1>
<p>{{ email }}</p>
